<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SMP.Properties.Settings.DB_SMPConnectionString" connectionString="Data Source=DESKTOP-IFL8CBL\SQLEXPRESS;Initial Catalog=DB_SMP;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DB_SMPEntities" connectionString="metadata=res://*/SMP_Model.csdl|res://*/SMP_Model.ssdl|res://*/SMP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IFL8CBL\SQLEXPRESS;initial catalog=DB_SMP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_SMPEntities1" connectionString="metadata=res://*/db.csdl|res://*/db.ssdl|res://*/db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IFL8CBL\SQLEXPRESS;initial catalog=DB_SMP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>